<div class="user-profile">
  <div class="name text-center">
    <h1><%= @user.first_name %></h1>
  </div>
  <div class="name text-left">
    <h2><%= @user.state %></h2>
  </div>
  <div class="icon text-left">
    <img src="<%= gravatar_url(@user, size: 150) %>" alt="" class="img-square">
  </div>
    <%= render 'relationships/follow_button', user: @user %>
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>following <span class="btn"><%= @count_followings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>followers <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
    </div>
</div>

